html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

a,
a:active,
a:visited {
  /*下划线和颜色*/
  text-decoration: none;
  color: #444455;
}

ul,
li {
  list-style: none;
}

.t-suspend-button-animate {
  transition-duration: 0.4s;
}

img {
  width: 100%;
  height: 100%;
}
.phone .van-dialog__message{
  font-size: 18px!important;
font-family: Source Han Sans CN;
font-weight: 500;

line-height: 52px;
color: #2F3243;
font-weight: bold;
}
.phone .van-button__text{
  font-size: 15px!important;
font-family: Source Han Sans CN;
font-weight: 500;
color: #2F3243;
line-height: 52px;
font-weight: bold;
}
.dialog_idSuccess .van-dialog__header{
  font-size: 18px !important;
 font-family: Source Han Sans CN;
 font-weight: 500;
 color: #2F3243;
 line-height: 30px;
 font-weight: bold;

}
.dialog_idSuccess .van-dialog__message .van-dialog__message--has-title{
  font-size: 15px!important;
 font-family: Source Han Sans CN;
 font-weight: 500;
 color: #9BA3B0;
 line-height: 30px;
}
.dialog_idSuccess .van-button__text{
  font-size: 15px!important;
  font-family: Source Han Sans CN;
  color: #2F3243;
  line-height: 52px;
  font-weight: bold;

}
.van-dialog{
  top: 45% !important;
  border-radius: 5px;
}
.van-dialog__header{
  font-size: 19px;
  color: #000;
  font-weight: bold !important;
}
.van-field__body {
  justify-content: center;
}

.van-dialog__cancel, .van-dialog__confirm{
  display: flex;
  justify-content: center;
  align-items: center;
}
.van-button__content{
  width: 109px;
  height: 25px;
  background-color: #3297FF;
  border-radius: 5px;
}
 .van-hairline--left{
  display: flex;
  justify-content: center;
  align-items: center;
}
.van-button__text{
  font-size: 13px;
}